<a href="https://colab.research.google.com/github/Jp-07-sys/Ejercicios-de-python/blob/main/Primera_clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

La ecuacion de la recta es:
\begin{equation}
y=mx+b
\end{equation}
m es la pendiente y b es la ordenada al origen

Variables

In [ ]:
x=1
c="hola a todos"
(x,c)
print(x,c)
print(c,x)

1 hola a todos
hola a todos 1

In [ ]:
x=4
x="Juan Pablo"
print(x)

Juan Pablo

In [ ]:
a=4 #es una variable de tipo entera
b=3, 10 # variable de punto flotante
c="Buenos dias"
print(a,b,c) #imprimir en pantalla las variables (y el texto)

4 (3, 10) Buenos dias

In [ ]:
x=str(3)
y=int(3)
z=float(3)
print(type(x),type(y),type(z))

<class 'str'> <class 'int'> <class 'float'>

In [ ]:
print(type(x)), print(type(y)),print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

(None, None, None)

In [ ]:
#Cadenas
a="Juan"
b="Juan"
c="Pablo"
d="González"
print(a,b,c,d)

Juan Juan Pablo González

In [ ]:
x=7
X="Juan Pablo"
print(x,X)

7 Juan Pablo

In [ ]:
myvar = "Juan"
my_var = "Pablo"
_my_var = "12"
myVar = "2"
MYVAR = "p,q"
myvar2 = "Hola"

In [ ]:
myVariableName="Juan Pablo"
print(myVariableName)

Juan Pablo

In [ ]:
x,y,z,="1","2","3"
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x=y=z="34"
print(x)
print(y)
print(z)

34
34
34

In [ ]:
#Calcular el area de un triangulo
# area(a),base(b), altura(h)
b=20 #valor de la base
h=15 #Valor de la altura
a=b*h/2 # fórmula para calcular el área de un triángulo
print("El área del triángulo es",a, "unidades cuadradas") #imprimo resultado

El área del triángulo es 150.0 unidades cuadradas

In [ ]:
Frutas  = ["manzana", "plátano", "piña"]
x, y, z = Frutas
print(x)
print(y)
print(z)

manzana
plátano
piña

In [ ]:
resultado= 15/4
print(resultado)

3.75

In [ ]:
resultado=15//4
print(resultado)

3

In [ ]:
#suma
resultado=13+19.5
print(resultado)

32.5

In [ ]:
#resta
resultado=9-15.5
print(resultado)

-6.5

In [ ]:
#mult
resultado=9*15.5
print(resultado)

139.5

In [ ]:
#division
resultado=17/3
print(resultado)

5.666666666666667

In [ ]:
#exponcencial
resultado=5**8
print(resultado)

390625

In [ ]:
#raiz
resultado=25**(1/2)
print(resultado)

5.0

In [ ]:
#palabras reservadas en python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#complejos
complejo=2+3j
type(complex)
print(complejo,type(complex))

(2+3j) <class 'type'>

In [2]:
C=25
#celsius a K
k=(C+273)
#celsius a  F
F=(C*9/5)+32
#Celsius a Rankine
R=(C+273)*9/5
print(k,"Celsius a kelvin")
print(F,"Celsius a Farenheit")
print(R, "Celsius a Rankine")

298 Celsius a kelvin
77.0 Celsius a Farenheit
536.4 Celsius a Rankine